/*
Estilos da pagina index.html
*/
 
.center{
    text-align: center;
}
p
{
font-size: 20px; 
}

.justify{
    text-align: justify;
}
.container{
    display: flex;
    flex-flow: row; 
    justify-content: center;
    align-items: center;
}

.video{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 10px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

#menu li a:hover {
 color: blue; 
}

.p-30{
    padding: 30px;
}

.wh{
width: 400px;
height: 400px;
}

.tm-social{
    width: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

.ml-50{
margin-left: 50px;
}